/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #62306d
  Yellow: #fff1c1
  Red: #fe5f55
*/

.box {
  background-color: #293462;
}

.head {
  background-color: #fe5f55;
  position: relative;
  width: 200px;
  height: 200px;
  top: 50px;
  left: 100px;
  border-radius: 100px 100px 50px 50px;
  overflow: hidden;
}

.head::after {
  background-color: #fff1c1;
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 90px;
  left: 20px;
  border-radius: 100px;
  box-shadow: 100px 0px #fff1c1, 100px -120px 0 20px #fff1c1,
    0px -120px 0 20px #fff1c1;
}

.head::before {
  background-color: #fff1c1;
  content: "";
  position: absolute;
  width: 40px;
  height: 10px;
  top: 170px;
  left: 80px;
  border-radius: 100px;
}
