/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #62306d
  Yellow: #f7ec7d
*/

.box {
  background-color: #62306d;
}

.shape {
  background-color: #f7ec7d;
  position: relative;
  width: 100px;
  height: 100px;
  top: 100px;
  left: 150px;
}
