/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  background: #64414b
  Orange: #ff955f
  Yellow: #ffd7b4
*/

.box {
  background-color: #64414b;
}

.shape {
  background-color: #ff955f;
  position: relative;
  width: 79px;
  height: 79px;
  top: 10px;
  left: 10px;
  border-top-left-radius: 100%;
  box-shadow: 100px 0 #ffd7b4, 200px 0 #ff955f, 300px 0 #ffd7b4,
    0px 100px #ffd7b4, 100px 100px #ff955f, 200px 100px #ffd7b4,
    300px 100px #ff955f, 0px 200px #ff955f, 100px 200px #ffd7b4,
    200px 200px #ff955f, 300px 200px #ffd7b4;
}
